*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(217, 178, 78);
}
.container{
    background-color: rgb(66, 101, 255);       
    margin: 150px auto;
    width: 55%;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 20px 0;
    box-shadow: 3px 3px 5px 5px white;
}
.container .main-heading{
    text-align: center; 
    margin-top: 50px;
}
.heading{
    margin-top: 35px;
    text-align: center;
}
.btn-class{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}
.btn{
    background-color: rgb(217, 178, 78);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid rgb(217, 178, 78);
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(62, 62, 198);
}

.password{
    padding: 5px;
    width: 150px;
    background-color: white;
    color: rgb(0, 0, 0);
    height: 24px;
    border-radius: 10px;
}
.copy-btn{
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
}
.copy-btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}
.footer{
    float: right;
}
.footer div{
    color: black;
}
.footer div a{
    color: black;
}